@define-color base      #1e1e2e;
@define-color mantle   #181825;
@define-color crust    #11111b;

@define-color text     #cdd6f4;
@define-color subtext  #a6adc8;
@define-color mauve    #cba6f7;
@define-color green    #a6e3a1;
@define-color red      #f38ba8;



